.swal-danger {
  background-color: red;
  border-radius: 12px;
  height: 52px;
}

.swal-success {
  background-color: #73ca5c;
  border-radius: 12px;
  height: 52px;
}

.swal2-html-container {
  margin: 12px;
}

.swal-dark {
  background-color: #d2ecf1;
  border-radius: 12px;
  height: 52px;
}

@media screen and (max-width: 640px) {
  .swal-dark {
    background-color: #d2ecf1;
    border-radius: 12px;
    height: 122px;
  }
}
